@model ES_Eventos_web_app.Models.Reservacion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<div>
    <h4>Reservacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paquete.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paquete.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
<div>
    <p class="p-3">
        @using (Html.BeginForm("Index", "Reservaciones", new { id = 1 }))
        {
            <button type="submit" class="btn btn-primary mr-1">Volver</button>
        }
    </p>
</div>
