@model IEnumerable<ES_Eventos_web_app.Models.Reservacion>

@{
    ViewBag.Title = "Historial";
}

<h2>Historial</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paquete.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paquete.nombre)
        </td>
    </tr>
}

</table>
<div>
    <p class="p-3">
        @using (Html.BeginForm("Index", "Home"))
        {
            <button type="submit" class="btn btn-primary mr-1">Volver</button>
        }
    </p>
</div>