@model IEnumerable<ES_Eventos_web_app.Models.PaqueteHolder>

@{
    ViewBag.Title = "Index";
}

<h2 class="pb-3">Paquetes</h2>

<p class="pb-2">
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.pNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPrecio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pDescripcion)
        </th>
        <th></th>
    </tr>
@{
    IEnumerable<ES_Eventos_web_app.Models.TipoRecurso> r = ViewBag.recursos;
    foreach (var recurso in Model)
    {
    <tr class="table-primary">
        <td>
            @Html.DisplayFor(modelItem => recurso.rNombre)
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            @using (Html.BeginForm("Details", "AdminRecursos", new { id = recurso.rId }))
            {
                <button type="submit" class="btn btn-info btn-sm mr-1">Información</button>
            }
        </td>
    </tr>

        foreach (var item in Model)
        {
            if (item.rId == recurso.rId)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pNombre)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.pPrecio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pDescripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.pId }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.pId }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.pId })
                    </td>
                </tr>
            }
        }
    }

}
</table>
<div>
    <p class="p-3">
        @using (Html.BeginForm("Index", "AdminHome"))
        {
            <button type="submit" class="btn btn-primary mr-1">Volver</button>
        }
    </p>
</div>
