@model IEnumerable<ES_Eventos_web_app.Models.PaqueteHolder>

@{
    ViewBag.Title = "Index";
}

<h2>Paquetes</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>
@{
    IEnumerable<ES_Eventos_web_app.Models.TipoRecurso> r = ViewBag.recursos;
    foreach (var recurso in r)
    {
    <tr class="table-primary">
        <td>
            @recurso.descripcion.ToUpper()
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

        foreach (var item in Model)
        {

            if (item.idTipoRecurso == recurso.id)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }
    }

}
</table>
<div>
    <p class="p-3">
        @using (Html.BeginForm("Index", "AdminHome", new { id = 1 }))
        {
            <button type="submit" class="btn btn-primary mr-1">Volver</button>
        }
    </p>
</div>